:root {
    /* Colours */
    --color-text: #fff;
    --color-primary: #576cbc;
    --color-secondary: #19376d;
    --color-dark: #0b2447;
    --color-bg: #04152d;
    --color-blue: rgb(19, 129, 255);

    /* Fonts */
    --font-roboto: "Roboto"
}