:root {
    /* Colours */
    --color-text: #fff;
    --color-paragraphs: rgba(210, 210, 210, 0.90);
    --text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.9);
    --color-primary: #576cbc;
    --color-secondary: #19376d;
    --color-dark: #0b2447;
    --color-bg: #04152d;
    --color-blue: rgb(19, 129, 255);

    /* Fonts */
    --font-roboto: "Roboto"
}